<!DOCTYPE html>
<html ng-app="BackBaseApp">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title page-title>Weather in Europe</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/weather-icons/css/weather-icons.css" rel="stylesheet">
    <link href="bower_components/weather-icons/css/weather-icons-wind.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <!-- angular dependencies -->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="bower_components/highcharts/highcharts.js"></script>
    <!-- app logic -->
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/services/api.weather.services.js"></script>
    <script type="text/javascript" src="app/controllers/main.controller.js"></script>
    <script type="text/javascript" src="app/controllers/city.controller.js"></script>
    <!-- partials -->
    <script type="text/ng-template" id="partials/main.html">
      <h1 class="title">Weather in Europe</h1>
      <div class="container-fluid">
        <div class="cities-list" ng-repeat="city in vm.cities">
          <div ui-sref="city({id:city.id})">
            <i class="icon wi wi-owm-{{city.weather[0].id}}"></i>
            <span class="city-name">{{city.name}} {{vm.tempFormat(city.main.temp)}}&deg;</span>
            <span class="temp">
              {{city.weather[0].description}} |
              <i class="wi wi-wind towards-{{city.wind.deg}}-deg"></i> {{city.wind.speed}}km/h
            </span>
            <div class="forecast">
              <div ng-if="vm.showForecast[city.id]">
                <div class="forecast-list" ng-repeat="forecast in vm.showForecast[city.id]">
                  <span><i class="wi wi-owm-{{forecast.id}}"></i></span>
                  <span>{{forecast.description}}</span>
                  <span>{{forecast.date}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="partials/city.html">
      <div>
        <div class="header">
          <h1>{{vm.city.name}} next 5 days at 12:00</h1>
          <a ui-sref="default"><span  class="back glyphicon glyphicon-chevron-left" aria-hidden="true"><span>back</span></span></a>
        </div>

        <div class="container-fluid">
          <div class="forecast-list">
            <div class="forecast" ng-repeat="forecast in vm.list">
              <span>{{forecast.date}}</span>
              <i class="icon-forecast wi wi-owm-{{forecast.weather.id}}"></i>
              <span class="temp">
                {{forecast.main.temp}}&deg; | {{forecast.weather.description}}
              </span>
            </div>
          </div>
          <div id="chart-container" class="forecast-chart">
            chart
          </div>
        </div>
      </div>
    </script>
  </head>
  <body class="container">
    <div ui-view></div>
  </body>
</html>