.body {
  margin: 30px;
}
.title {
  line-height: 2.1;
  text-align: center;
}
.header h1{
  float: left;
  width: 50%;
}
.back {
  text-align: right;
  width: 50%;
  top: 25px;
}
.back > span {
  font-family: helvetica;
  font-size: 18px;
}
.icon {
  width: 100%;
  text-align: center;
  font-size: 100px;
  padding: 20px;
}
.icon-forecast {
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}
.forecast-list {
  float: left;
  text-align: center;
  margin-top: 15px;
}
.forecast-chart {
  width: 100%;
  height: 200px;
}
.forecast {
  float: left;
  width: 20%;
  padding-bottom: 20px;
  margin: 4px;
}
.cities-list {
  float: left;
  width: 220px;
  cursor: pointer;
}
.city-name {
  width: 100%;
  text-align: center;
  float: left;
  font-size: 30px;
}
.temp {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 14px;
}
a {
  color: #000000;
}
